@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap');


  #sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container input::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }

  #sib-container textarea::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #c0ccda;
  }
  body{
    background-size: cover;
    background-image: url("https://img.mailinblue.com/5921610/images/rnb/original/6465c5f426d6ae6b1f54e8ba.jpg");
    background-repeat: no-repeat;
    background-position: center center;
 

  }